{# templates/Core/index.html.twig#}
{# On utilise ici le layout général, qui se situe dans ce même CoreBundle #}
{% extends "layout.html.twig" %}

{% block title %}
  Page d'accueil - {{ parent() }}
{% endblock %}
{%block navigation %}

 {# <ul class="nav flex-column nav-pills">
            <li>Utilisateur : 
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
             {{ app.user.username }}</li>
            <li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
        {% else %}
        <li><a href="{{ path('fos_user_security_login') }}">Connectez vous</a> si vous avez un compte,</li>
        <li>Ou <a href="{{ path('fos_user_registration_register') }}">créez un compte</a> si vous en souhaitez un</li>
        <li>Sinon, entrez dans le menu</li>
   
        {% endif %}
 #}
 {{ knp_menu_render('utilisateur', {'currentClass': 'active', 'user' : 'app.user'}) }}
 </ul>
    
{% endblock %}  
{% block body_gche %}

   
{% endblock %}
{% block body %}



  {# On affiche tous les messages flash dont le nom est « info » #}
  {% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-info">Message flash : {{ message }}</div>
  {% endfor %}

  <h3>Menu</h3>
  	

{{ knp_menu_render('main') }}

{#
<ul class="nav nav-pills nav-stacked">
    <li>
    {% if is_granted('ROLE_ADMIN') %}
      <a href="{{ path('sonata_admin_redirect') }}">
        Administration
      </a>
      {% endif %}
    </li>
    
    <li>
        {% if is_granted('ROLE_COMITE') %}
            Pages Comité
        {% endif %}
    </li>
    <li>
    
       {% if is_granted('ROLE_ADMIN') %}
           <a href="{{ path('secretariat_accueil')}}">
               Secrétariat
           </a>
       {% elseif is_granted('ROLE_JURY') %}
            <a href="{{ path('cyberjury_accueil') }}">
                Accueil du Jury
            </a>
       {% endif %}
    </li>
 
    <li>Galeries Photos</li>
    <li>Mémoires</li>
    <li>Présentations</li>
    
</ul>
#}
{% endblock %}


