{# templates/Core/index.html.twig#}
{# On utilise ici le layout général, qui se situe dans ce même CoreBundle #}
{% extends "layout.html.twig" %}

{% block title %}
  Page d'accueil - {{ parent() }}
{% endblock %}
{%block navigation %}
    <a href="{{ path('core_home') }}">Accueil</a>
  <ul>
            <li><h3>Utilisateur</h3></li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li>Connecté en tant que {{ app.user.username }}</li>
            <li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
        {% else %}
        <li><a href="{{ path('fos_user_security_login') }}">Connectez vous</a> si vous avez un compte,</li>
        <li>Ou <a href="{{ path('fos_user_registration_register') }}">créez un compte</a> si vous en souhaitez un</li>
        <li>Sinon, entrez dans le menu</li>
   
        {% endif %}
 </ul>
    
{% endblock %}  
{% block body_gche %}

   
{% endblock %}
{% block body %}

  <h2>Page d'accueil de notre site</h2>

  {# On affiche tous les messages flash dont le nom est « info » #}
  {% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-info">Message flash : {{ message }}</div>
  {% endfor %}

  <h3>Menu</h3>

<ul class="nav nav-pills nav-stacked">
    <li>
    {% if is_granted('ROLE_ADMIN') %}
      <a href="{{ path('sonata_admin_redirect') }}">
        Administration
      </a>
      {% endif %}
    </li>
    
    <li>
        {% if is_granted('ROLE_COMITE') %}
      <a >Pages Comité</a>
      {% endif %}
    </li>
        <li>
    {% if is_granted('ROLE_JURY') %}
      <a href="{{ path('cyberjury_accueil') }}">
        Accueil du Jury
      </a>
      {% endif %}
    </li>
 
    <li>Galeries Photos</li>
    <li>Mémoires</li>
    <li>Présentations</li>
    
</ul>
{% endblock %}


