{# templates/Core/index.html.twig#}
{% extends "layout.html.twig" %}

{% block title %}
  Page d'accueil - {{ parent() }}
  
{% endblock %}
{%block navigation %}

 <ul class="nav flex-column nav-pills">
 
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li>Utilisateur :  {{ app.user.username }}</li>
            <li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
        {% else %}
        <li><a href="{{ path('fos_user_security_login') }}">Connectez vous</a> si vous avez un compte,</li>
        <li>Ou <a href="{{ path('fos_user_registration_register') }}">créez un compte</a> si vous en souhaitez un</li>
        <li>Sinon, entrez dans le menu</li>
   
        {% endif %}

{#{{ knp_menu_render('utilisateur') }}#}
 </ul>
    
{% endblock %}  
{% block body_gche %}

   
{% endblock %}
{% block body %}



  {# On affiche tous les messages flash dont le nom est « info » #}
  {% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-info">Message flash : {{ message }}</div>
  {% endfor %}

  <h3></h3>
  	



{#{{ knp_menu_render('main') }}#}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<ul class="navbar-nav">
    <li>
    {% if is_granted('ROLE_ADMIN') %}
      <button class="btn btn-outline-primary dropdown-toggle active" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Administration</button>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <a class="dropdown-item"  href="{{ path('sonata_admin_redirect') }}" role="button">Tableau de bord</a>
            <a class="dropdown-item"  href="{{ path('secretariat_accueil') }}" role="button">Secrétariat du Jury</a>
        </div>
      {% endif %}
    </li>
    
    <li>
        {% if is_granted('ROLE_COMITE') %}
            <a href="{{ path('comite_accueil')}}" class="btn btn-outline-primary" role="button" aria-pressed="true">Pages Comité</a>
        {% endif %}
    </li>
    <li>
    
       {% if is_granted('ROLE_ADMIN') %}
           <a href="{{ path('secretariat_accueil')}}" class="btn btn-outline-primary" role="button" aria-pressed="true">
               Secrétariat du Jury
           </a>
       {% elseif is_granted('ROLE_JURY') %}
            <a href="{{ path('cyberjury_accueil') }}" class="btn btn-outline-primary active" role="button" aria-pressed="true">
                Accueil du Jury
            </a>
       {% endif %}
    </li>
 
    <li><a href="#" class="btn btn-outline-primary" role="button" aria-pressed="true">Galeries Photos</a></li>
    <li><a href="#" class="btn btn-outline-primary" role="button" aria-pressed="true">Mémoires</a></li>
    <li><a href="#" class="btn btn-outline-primary" role="button" aria-pressed="true">Présentations</a></li>
    
</ul>
</nav>
       
       <img src="{{ asset('images/bandeau.jpg') }}">
{% endblock %}


