{% extends "layout.html.twig" %}
{% block title %} Répartition des prix {% endblock %}

{% block titre3 %} Répartition des prix {% endblock %}

{% block navigation %}
	{{ include ("secretariat/navigation.html.twig") }}
{% endblock %}

{% block body %}

<div class="well">
<p>Le nombre total d'équipes est {{ nbre_equipes }}. </p>


    {{ form(form )}}
   {% if niveau>3 %}
        <a href="{{path('secretariat_construire_palmares', {'niveau' : niveau-1} ) }}" class="fas fa-chevron-left btn btn-primary"></i> Aller vers le niveau précédent</a> 
    {% endif %}





 <table class="table table-striped">
    <thead>
      <tr>
      	<th>Niveau</th>
        <th>Montant</th>
        <th>Répartition</th>
     </tr>
    </thead>

    <tbody>

     	{% for classement in classements  %}
     		<tr>
       		<td>{{ classement.niveau }}</td>
       		<td>{{ classement.montant }}</td>
       		<td>{{ classement.nbreprix }}</td>

			{% endfor %}

     		</tr>


    </tbody>
    </table>

</div>



<a href="{{path('secretariat_lesprix')}}" class="fas fa-chevron-right btn btn-primary "> Aller vers les Prix  </a>


{% endblock %}



