{% extends "layout.html.twig" %}
{% block title %} En savoir plus sur cette équipe {% endblock %}

{% block titre3 %}     <a class ="btn btn-default btn-lg">{{ equipe.lettreEquipe }}</a> 
    {{ equipe.nomEquipe }}

<a href="{{ eq.urlMemoire }}" class="glyphicon glyphicon-book" title="Accéder au mémoire de l'équipe" target="_blank"> </a>

{#<a href="{{ path('odpf_cyber_jury_phrases_amusantes', {'id': id_equipe} ) }}" class="glyphicon glyphicon-pencil" title="Les phrases amusantes" > </a>
#}
{% endblock %} 

{% block navigation %}
<button type="button" class="btn btn-light btn-block"  > <span class="fas fa-user">  </span>           
{{ jure.prenomJure|title }} {{ jure.nomJure|title }} 
  </button>

{{ knp_menu_render('jury', {'currentClass': 'active'}) }}
{% endblock %}
{% block body %}
<div class="well">
  <ul>
	<li > L'établissement : {{ equipe.nomLycee|title }}, ville : {{ equipe.lyceeLocalite|title }} , académie : {{ equipe.lyceeAcademie|title }} </li>
	<li  > Les enseignants : {{ equipe.prenomProf1|title }} {{ equipe.nomProf1|title}} -
	                   {{ equipe.prenomProf2|title}} {{ equipe.nomProf2|title}} 
	</li> 
<li> Les élèves : 
<ul>
{% for eleve in listEleves %}
<li> {{ eleve.prenom|title }}  {{ eleve.nom|title }}, en classe de {{ eleve.classe }}</li>
{% endfor %}
</ul>
</li>

{% endblock %}