 <ul class="nav flex-column nav-pill">
    <li><a href="{{ path('cyberjury_accueil')}}" class="fas fa-home"> Accueil</a></li>
    <li><a href="{{ path('cyberjury_tableau_de_bord')}}" class="fas fa-list"> Tableau de bord</a></li>
    <li><a href="{{ path('cyberjury_palmares')}}" class="fas fa-leaf"> Le palmares</a></li>
    <li><a href="{{ path('cyberjury_lesprix')}}"class="fas fa-list-alt"> Les prix</a></li>
    <li><a href="{{ path('cyberjury_lescadeaux')}}" class="fas fa-gift"> Les cadeaux</a></li>
    <li><a href="{{ path('fos_user_security_logout')}}" class="fas fa-procedures"> Déconnexion</a></li>
</ul>
